# BPF
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DUMMY=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_BLK_CGROUP=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_BFQ=y

# Samsung Security
# CONFIG_GAF is not set
# CONFIG_GAF_V6 is not set
# CONFIG_SECURITY_DSMS is not set

# CONFIG_KPROBES is not set
CONFIG_OVERLAY_FS=y

# IncrementalFS
CONFIG_INCREMENTAL_FS=y

# Wireguard
CONFIG_WIREGUARD=y

# CMDLine spoof
CONFIG_PROC_SPOOF_CMDLINE=y

# SEC Memory Management
CONFIG_SEC_MM=y

#power suspend and state notifier
CONFIG_POWERSUSPEND=y
CONFIG_POWERSUSPEND_DEBUG=n
CONFIG_STATE_NOTIFIER=y

#Dynamic FSync 2.0
CONFIG_DYNAMIC_FSYNC=y

#kernelspace battery saver mode
CONFIG_BATTERY_SAVER=y

#Boeffla generic wakelock blocker driver
CONFIG_BOEFFLA_WL_BLOCKER=y

#DTS eagle
CONFIG_AINUR_DTS_SW=y

#Anxiety as default
CONFIG_IOSCHED_MAPLE=y
CONFIG_IOSCHED_ANXIETY=y
CONFIG_DEFAULT_ANXIETY=y
CONFIG_DEFAULT_IOSCHED="anxiety"
CONFIG_DEFAULT_CFQ=n
CONFIG_DEFAULT_MAPLE=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_MQ_IOSCHED_KYBER=n

# R38P1 GPU Driver
CONFIG_MALI_BIFROST_R32P1=n
CONFIG_MALI_BIFROST_R38P1=y

#OC & UC
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2400000
CONFIG_MIN_FREQ_BIG=377000
CONFIG_MAX_FREQ_LITTLE=1950000
CONFIG_MIN_FREQ_LITTLE=182000
CONFIG_MAX_FREQ_PRIME=2808000
CONFIG_MIN_FREQ_PRIME=520000

#FP BOOSTER
CONFIG_FINGERPRINT_BOOST=y