CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DUMMY=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_BLK_CGROUP=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_BFQ=y

# KernelSU
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KPROBES is not set

# EOF

